{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2021",
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["./src/*"]
    }
  },
  "module": {
    "type": "commonjs",
    "strict": true
  },
  "sourceMaps": true
}
